<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/xiaoshuo_dist/common.css" />
    <link rel="stylesheet" href="/xiaoshuo_dist/<%= name %>.css" />
  </head>
  <body>
    <div id="root"></div>
    <script src="/xiaoshuo_dist/common.js"></script>
    <script src="/xiaoshuo_dist/<%= name %>.js"></script>
  </body>
</html>
